<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
        <dt>url</dt>
        <dd><input type="text" name="url"></dd>
        <dt>Username:
        <dd><input type="text" name="username">
        <dt>Password:
        <dd><input type="password" name="password">
        <dd><input type="submit" value="add">
    </dl>
</form>
<ul class="entries">
    {% for entry in entries %}
        <li>{{ entry.url }}
    {% endfor %}
</ul>
</body>
</html>